USE [MKTPECAS]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 13/11/2019 09:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](50) NOT NULL,
 CONSTRAINT [PK_categoria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 13/11/2019 09:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[oferta_app] [nchar](1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[nome] [varchar](20) NULL,
	[sobrenome] [varchar](20) NULL,
	[id_contato] [int] NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contato]    Script Date: 13/11/2019 09:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contato](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[telefone] [varchar](14) NULL,
	[whatsapp] [varchar](14) NULL,
	[facebook] [varchar](50) NULL,
 CONSTRAINT [PK_contato] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cotacao]    Script Date: 13/11/2019 09:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cotacao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NULL,
	[data] [date] NULL,
 CONSTRAINT [PK_cotacao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empresa]    Script Date: 13/11/2019 09:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empresa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_endereco] [int] NOT NULL,
	[id_contato] [int] NOT NULL,
	[cnpj] [nchar](18) NOT NULL,
	[razao_social] [varchar](80) NOT NULL,
	[nome_fantasia] [varchar](80) NOT NULL,
	[observacao] [varchar](300) NOT NULL,
	[forma_pgto_dinheiro] [nchar](1) NOT NULL,
	[forma_pgto_cartao_credito] [nchar](1) NOT NULL,
	[forma_pgto_cartao_debito] [nchar](1) NOT NULL,
	[forma_pgto_boleto] [nchar](1) NOT NULL,
	[forma_pgto_crediario_proprio] [nchar](1) NOT NULL,
	[loja_linha_leve] [nchar](1) NOT NULL,
	[loja_linha_pesada] [nchar](1) NOT NULL,
	[cobre_oferta_praca] [nchar](1) NOT NULL,
 CONSTRAINT [PK_empresa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empresa_cotacao]    Script Date: 13/11/2019 09:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empresa_cotacao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_cotacao] [int] NOT NULL,
	[id_empresa] [int] NOT NULL,
	[valor_total_cotacao] [float] NULL,
 CONSTRAINT [PK_empresa_cotacao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[endereco]    Script Date: 13/11/2019 09:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[endereco](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[logradouro] [varchar](50) NOT NULL,
	[numero] [varchar](10) NOT NULL,
	[bairro] [varchar](30) NOT NULL,
	[cep] [varchar](9) NOT NULL,
 CONSTRAINT [PK_endereco] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[itens_cotacao]    Script Date: 13/11/2019 09:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itens_cotacao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_empresa_cotacao] [int] NOT NULL,
	[id_produto] [int] NOT NULL,
	[quantidade] [int] NULL,
	[valor_total_produto] [float] NULL,
 CONSTRAINT [PK_itens_cotacao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[itens_oferta_produto]    Script Date: 13/11/2019 09:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itens_oferta_produto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_oferta_produto] [int] NOT NULL,
	[id_produto] [int] NOT NULL,
	[preco] [float] NOT NULL,
 CONSTRAINT [PK_itens_oferta_produto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marca]    Script Date: 13/11/2019 09:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marca](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](50) NOT NULL,
 CONSTRAINT [PK_marca] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oferta_produto]    Script Date: 13/11/2019 09:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oferta_produto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ativa] [nchar](1) NOT NULL,
	[nome] [nchar](20) NULL,
	[id_empresa] [int] NULL,
 CONSTRAINT [PK_oferta_produto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produto]    Script Date: 13/11/2019 09:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_categoria] [int] NOT NULL,
	[id_marca] [int] NOT NULL,
	[id_empresa] [int] NOT NULL,
	[codigo] [varchar](20) NOT NULL,
	[descricao] [varchar](100) NOT NULL,
	[aplicacao] [varchar](200) NOT NULL,
	[unidade_medida] [varchar](4) NOT NULL,
	[altura] [varchar](5) NULL,
	[largura] [varchar](5) NULL,
	[comprimento] [varchar](5) NULL,
	[peso] [varchar](5) NULL,
	[data_cadastro] [date] NOT NULL,
	[deletado] [nchar](1) NOT NULL,
	[preco] [float] NOT NULL,
	[imagem] [varchar](max) NULL,
	[validade] [date] NULL,
 CONSTRAINT [PK_produto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 13/11/2019 09:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[senha] [varchar](20) NOT NULL,
	[tipo_pessoa] [nchar](1) NOT NULL,
	[ativo] [nchar](1) NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categoria] ON 

INSERT [dbo].[categoria] ([id], [descricao]) VALUES (1, N'ACESSORIOS')
INSERT [dbo].[categoria] ([id], [descricao]) VALUES (2, N'OLEOS')
INSERT [dbo].[categoria] ([id], [descricao]) VALUES (3, N'BATERIAS')
SET IDENTITY_INSERT [dbo].[categoria] OFF
SET IDENTITY_INSERT [dbo].[cliente] ON 

INSERT [dbo].[cliente] ([id], [oferta_app], [id_usuario], [nome], [sobrenome], [id_contato]) VALUES (1, N'S', 5, N'Gabrielle', N'Maciel', 5)
INSERT [dbo].[cliente] ([id], [oferta_app], [id_usuario], [nome], [sobrenome], [id_contato]) VALUES (2, N'S', 6, N'Monique', N'Rocha', 6)
SET IDENTITY_INSERT [dbo].[cliente] OFF
SET IDENTITY_INSERT [dbo].[contato] ON 

INSERT [dbo].[contato] ([id], [telefone], [whatsapp], [facebook]) VALUES (1, N'(92)3233-4075', N'(92)98152-6527', N'www.facebook.com.br/apmanaus')
INSERT [dbo].[contato] ([id], [telefone], [whatsapp], [facebook]) VALUES (2, N'(92)33031-5097', N'(92)99460-5714', N'facebook.com/cearaautopeca')
INSERT [dbo].[contato] ([id], [telefone], [whatsapp], [facebook]) VALUES (3, N'(92)3633-1525', N'(92)99158-0999', N'')
SET IDENTITY_INSERT [dbo].[contato] OFF
SET IDENTITY_INSERT [dbo].[cotacao] ON 

INSERT [dbo].[cotacao] ([id], [id_cliente], [data]) VALUES (1, 1, CAST(N'2019-11-11' AS Date))
INSERT [dbo].[cotacao] ([id], [id_cliente], [data]) VALUES (2, 1, CAST(N'2019-11-11' AS Date))
SET IDENTITY_INSERT [dbo].[cotacao] OFF
SET IDENTITY_INSERT [dbo].[empresa] ON 

INSERT [dbo].[empresa] ([id], [id_usuario], [id_endereco], [id_contato], [cnpj], [razao_social], [nome_fantasia], [observacao], [forma_pgto_dinheiro], [forma_pgto_cartao_credito], [forma_pgto_cartao_debito], [forma_pgto_boleto], [forma_pgto_crediario_proprio], [loja_linha_leve], [loja_linha_pesada], [cobre_oferta_praca]) VALUES (1, 1, 1, 1, N'04.302.118/0001-25', N'CENTRO AUTOMOTIVO MANAUS', N'CENTRO AUTOMOTIVO MANAUS', N'Loja com ambiente Climatizado, venha nos visitar.', N'S', N'S', N'S', N'S', N'S', N'S', N'S', N'S')
INSERT [dbo].[empresa] ([id], [id_usuario], [id_endereco], [id_contato], [cnpj], [razao_social], [nome_fantasia], [observacao], [forma_pgto_dinheiro], [forma_pgto_cartao_credito], [forma_pgto_cartao_debito], [forma_pgto_boleto], [forma_pgto_crediario_proprio], [loja_linha_leve], [loja_linha_pesada], [cobre_oferta_praca]) VALUES (2, 2, 2, 2, N'01.254.852/2333-33', N'Ceara autopeça', N'Salvador autopeça', N'cobrimos todas ofertas', N'S', N'N', N'N', N'N', N'N', N'S', N'N', N'S')
INSERT [dbo].[empresa] ([id], [id_usuario], [id_endereco], [id_contato], [cnpj], [razao_social], [nome_fantasia], [observacao], [forma_pgto_dinheiro], [forma_pgto_cartao_credito], [forma_pgto_cartao_debito], [forma_pgto_boleto], [forma_pgto_crediario_proprio], [loja_linha_leve], [loja_linha_pesada], [cobre_oferta_praca]) VALUES (3, 3, 3, 3, N'01.254.185/0001-67', N'MACIEL PEÇAS', N'MACIEL E SILVA PEÇAS', N'Cobrimos ofertas da praça', N'S', N'S', N'S', N'N', N'N', N'S', N'N', N'S')
SET IDENTITY_INSERT [dbo].[empresa] OFF
SET IDENTITY_INSERT [dbo].[empresa_cotacao] ON 

INSERT [dbo].[empresa_cotacao] ([id], [id_cotacao], [id_empresa], [valor_total_cotacao]) VALUES (1, 1, 2, 214)
INSERT [dbo].[empresa_cotacao] ([id], [id_cotacao], [id_empresa], [valor_total_cotacao]) VALUES (2, 1, 3, 229)
INSERT [dbo].[empresa_cotacao] ([id], [id_cotacao], [id_empresa], [valor_total_cotacao]) VALUES (3, 1, 4, 300)
SET IDENTITY_INSERT [dbo].[empresa_cotacao] OFF
SET IDENTITY_INSERT [dbo].[endereco] ON 

INSERT [dbo].[endereco] ([id], [logradouro], [numero], [bairro], [cep]) VALUES (1, N'RUA VASCO VASQUEZ', N'01', N'PARQUE 10', N'69025-030')
INSERT [dbo].[endereco] ([id], [logradouro], [numero], [bairro], [cep]) VALUES (2, N'travessa itubera', N'34', N'cidade nova 1', N'69097-758')
INSERT [dbo].[endereco] ([id], [logradouro], [numero], [bairro], [cep]) VALUES (3, N'RUA A ', N'20', N'CANARANAS ', N'69099-755')
SET IDENTITY_INSERT [dbo].[endereco] OFF
SET IDENTITY_INSERT [dbo].[itens_cotacao] ON 

INSERT [dbo].[itens_cotacao] ([id], [id_empresa_cotacao], [id_produto], [quantidade], [valor_total_produto]) VALUES (1, 1, 4, 1, 14)
INSERT [dbo].[itens_cotacao] ([id], [id_empresa_cotacao], [id_produto], [quantidade], [valor_total_produto]) VALUES (2, 1, 7, 1, 200)
INSERT [dbo].[itens_cotacao] ([id], [id_empresa_cotacao], [id_produto], [quantidade], [valor_total_produto]) VALUES (3, 2, 9, 1, 229)
SET IDENTITY_INSERT [dbo].[itens_cotacao] OFF
SET IDENTITY_INSERT [dbo].[itens_oferta_produto] ON 

INSERT [dbo].[itens_oferta_produto] ([id], [id_oferta_produto], [id_produto], [preco]) VALUES (1, 1, 2, 120)
INSERT [dbo].[itens_oferta_produto] ([id], [id_oferta_produto], [id_produto], [preco]) VALUES (2, 1, 4, 8)
INSERT [dbo].[itens_oferta_produto] ([id], [id_oferta_produto], [id_produto], [preco]) VALUES (3, 2, 11, 39)
SET IDENTITY_INSERT [dbo].[itens_oferta_produto] OFF
SET IDENTITY_INSERT [dbo].[marca] ON 

INSERT [dbo].[marca] ([id], [descricao]) VALUES (1, N'COFAP')
INSERT [dbo].[marca] ([id], [descricao]) VALUES (2, N'MOURA')
INSERT [dbo].[marca] ([id], [descricao]) VALUES (3, N'ACDELCO')
SET IDENTITY_INSERT [dbo].[marca] OFF
SET IDENTITY_INSERT [dbo].[oferta_produto] ON 

INSERT [dbo].[oferta_produto] ([id], [ativa], [nome], [id_empresa]) VALUES (1, N'S', N'BlackFriday CAR     ', 2)
INSERT [dbo].[oferta_produto] ([id], [ativa], [nome], [id_empresa]) VALUES (2, N'S', N'CAR 50% OFF         ', 3)
INSERT [dbo].[oferta_produto] ([id], [ativa], [nome], [id_empresa]) VALUES (3, N'S', N'TESTE               ', 4)
SET IDENTITY_INSERT [dbo].[oferta_produto] OFF
SET IDENTITY_INSERT [dbo].[produto] ON 

SET IDENTITY_INSERT [dbo].[produto] OFF
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id], [email], [senha], [tipo_pessoa], [ativo]) VALUES (1, N'apmanaus@gmail.com', N'123', N'J', N'S')
INSERT [dbo].[usuario] ([id], [email], [senha], [tipo_pessoa], [ativo]) VALUES (2, N'empt@gmail.com', N'1234', N'J', N'S')
INSERT [dbo].[usuario] ([id], [email], [senha], [tipo_pessoa], [ativo]) VALUES (3, N'emp1@gmail.com', N'1234', N'J', N'S')
SET IDENTITY_INSERT [dbo].[usuario] OFF
ALTER TABLE [dbo].[cliente]  WITH CHECK ADD  CONSTRAINT [FK_cliente_contato] FOREIGN KEY([id_contato])
REFERENCES [dbo].[contato] ([id])
GO
ALTER TABLE [dbo].[cliente] CHECK CONSTRAINT [FK_cliente_contato]
GO
ALTER TABLE [dbo].[cliente]  WITH CHECK ADD  CONSTRAINT [FK_cliente_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[cliente] CHECK CONSTRAINT [FK_cliente_usuario]
GO
ALTER TABLE [dbo].[cotacao]  WITH CHECK ADD  CONSTRAINT [FK_cotacao_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id])
GO
ALTER TABLE [dbo].[cotacao] CHECK CONSTRAINT [FK_cotacao_cliente]
GO
ALTER TABLE [dbo].[empresa]  WITH CHECK ADD  CONSTRAINT [FK_empresa_contato] FOREIGN KEY([id_contato])
REFERENCES [dbo].[contato] ([id])
GO
ALTER TABLE [dbo].[empresa] CHECK CONSTRAINT [FK_empresa_contato]
GO
ALTER TABLE [dbo].[empresa]  WITH CHECK ADD  CONSTRAINT [FK_empresa_endereco] FOREIGN KEY([id_endereco])
REFERENCES [dbo].[endereco] ([id])
GO
ALTER TABLE [dbo].[empresa] CHECK CONSTRAINT [FK_empresa_endereco]
GO
ALTER TABLE [dbo].[empresa]  WITH CHECK ADD  CONSTRAINT [FK_empresa_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[empresa] CHECK CONSTRAINT [FK_empresa_usuario]
GO
ALTER TABLE [dbo].[empresa_cotacao]  WITH CHECK ADD  CONSTRAINT [FK_empresa_cotacao_cotacao] FOREIGN KEY([id_cotacao])
REFERENCES [dbo].[cotacao] ([id])
GO
ALTER TABLE [dbo].[empresa_cotacao] CHECK CONSTRAINT [FK_empresa_cotacao_cotacao]
GO
ALTER TABLE [dbo].[empresa_cotacao]  WITH CHECK ADD  CONSTRAINT [FK_empresa_cotacao_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id])
GO
ALTER TABLE [dbo].[empresa_cotacao] CHECK CONSTRAINT [FK_empresa_cotacao_empresa]
GO
ALTER TABLE [dbo].[itens_cotacao]  WITH CHECK ADD  CONSTRAINT [FK_itens_cotacao_empresa_cotacao] FOREIGN KEY([id_empresa_cotacao])
REFERENCES [dbo].[empresa_cotacao] ([id])
GO
ALTER TABLE [dbo].[itens_cotacao] CHECK CONSTRAINT [FK_itens_cotacao_empresa_cotacao]
GO
ALTER TABLE [dbo].[itens_cotacao]  WITH CHECK ADD  CONSTRAINT [FK_itens_cotacao_produto] FOREIGN KEY([id_produto])
REFERENCES [dbo].[produto] ([id])
GO
ALTER TABLE [dbo].[itens_cotacao] CHECK CONSTRAINT [FK_itens_cotacao_produto]
GO
ALTER TABLE [dbo].[itens_oferta_produto]  WITH CHECK ADD  CONSTRAINT [FK_itens_oferta_produto_oferta_produto] FOREIGN KEY([id_oferta_produto])
REFERENCES [dbo].[oferta_produto] ([id])
GO
ALTER TABLE [dbo].[itens_oferta_produto] CHECK CONSTRAINT [FK_itens_oferta_produto_oferta_produto]
GO
ALTER TABLE [dbo].[itens_oferta_produto]  WITH CHECK ADD  CONSTRAINT [FK_itens_oferta_produto_produto] FOREIGN KEY([id_produto])
REFERENCES [dbo].[produto] ([id])
GO
ALTER TABLE [dbo].[itens_oferta_produto] CHECK CONSTRAINT [FK_itens_oferta_produto_produto]
GO
ALTER TABLE [dbo].[oferta_produto]  WITH CHECK ADD  CONSTRAINT [FK_oferta_produto_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id])
GO
ALTER TABLE [dbo].[oferta_produto] CHECK CONSTRAINT [FK_oferta_produto_empresa]
GO
ALTER TABLE [dbo].[produto]  WITH CHECK ADD  CONSTRAINT [FK_produto_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categoria] ([id])
GO
ALTER TABLE [dbo].[produto] CHECK CONSTRAINT [FK_produto_categoria]
GO
ALTER TABLE [dbo].[produto]  WITH CHECK ADD  CONSTRAINT [FK_produto_empresa] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id])
GO
ALTER TABLE [dbo].[produto] CHECK CONSTRAINT [FK_produto_empresa]
GO
ALTER TABLE [dbo].[produto]  WITH CHECK ADD  CONSTRAINT [FK_produto_marca] FOREIGN KEY([id_marca])
REFERENCES [dbo].[marca] ([id])
GO
ALTER TABLE [dbo].[produto] CHECK CONSTRAINT [FK_produto_marca]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'S - Sim
N - Nao' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cliente', @level2type=N'COLUMN',@level2name=N'oferta_app'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'S - Sim
N - Não' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'empresa', @level2type=N'COLUMN',@level2name=N'forma_pgto_dinheiro'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'S - Sim
N - Não' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'empresa', @level2type=N'COLUMN',@level2name=N'forma_pgto_cartao_credito'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'S - Sim
N - Não' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'empresa', @level2type=N'COLUMN',@level2name=N'forma_pgto_cartao_debito'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'S - Sim
N - Não' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'empresa', @level2type=N'COLUMN',@level2name=N'forma_pgto_boleto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'S - Sim
N - Não' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'empresa', @level2type=N'COLUMN',@level2name=N'forma_pgto_crediario_proprio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'S - Sim
N - Não' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'empresa', @level2type=N'COLUMN',@level2name=N'loja_linha_leve'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'S - Sim
N - Não' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'empresa', @level2type=N'COLUMN',@level2name=N'loja_linha_pesada'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'S - Sim
N - Não' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'empresa', @level2type=N'COLUMN',@level2name=N'cobre_oferta_praca'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'S - Sim
N - Não' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'oferta_produto', @level2type=N'COLUMN',@level2name=N'ativa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'F - Fisico
J - Juridico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'usuario', @level2type=N'COLUMN',@level2name=N'tipo_pessoa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'S - Sim
N - Não' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'usuario', @level2type=N'COLUMN',@level2name=N'ativo'
GO
